.containers{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
body{
 background: linear-gradient(135deg, #0d0d0d, #1a1a2e, #1d2b27); 
  background-attachment:scroll;
}
.form-btn {
  background: linear-gradient(135deg, #6C2BD9, #2563EB, #1d4d4d); 
  cursor: pointer;
}

.form-btn:hover {
  transform: scale(1.05);
}
